

{% extends 'C.html' %}
{% block m3 %}
<h1> WHaT IS PROBLEM SOLVER</h1>
                  When you are in college then everything is new and you are in the middle of school life and job.
                  This is the time period when you have to work hard in the field of your passion and make your dreams come alive.
                  It is very difficult for the college students to manage everything as it is a new experience for the rookies.
                  Apart from the awesome college life; there are many problems that you will face in it and they require problem solving skills.
                  Every problem has a solution and
                  here we get different answers of different questions by another students which will make you tackle through all the hurdles you
                  will face in you college era.
{% endblock %}


